@import "../bower_components/bootstrap/less/bootstrap.less"; 

@import "../bower_components/bootstrap/less/responsive.less"; 


/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.ace_editor { height: 500px; }
