<div id="preview" ng-bind-html="preview"></div>
<img ng-src="{{gravatar}}">
<div ace-toolbar></div>
<div ui-ace = "{
  onLoad: aceLoaded,
  useWrapMode: true,
  showGutter: true,
  theme:'solarized_dark',
  mode: 'markdown',
  onChange: aceChanged}"
>
Add your comment here
=====================

Here is a level2 heading
----

Link to [NRICH](http://nrich.maths.org)

__This text in bold__

###A list:
* Hi there
* Hello again
* By for now.

###A table
| Tables        | Are           | Cool  |
| ------------- |:-------------:| -----:|
| col 3 is      | right-aligned | $1600 |
| col 2 is      | centered      |   $12 |
| zebra stripes | are neat      |    $1 |
</div>