<h4>Resource {{resource.id}} has {{resource.posts}} comments</h4>
<ul class="unstyled comment-list">
  <li ng-repeat="c in resource.comments" >
    <!-- Comment {{c.id}} title {{c.title}} by {{c.user}} -->
    <div class="well posts">
      <img class="gravatar" ng-src="{{c.gravatar}}">
      <div class="title">
        <div ng-bind-html="c.title"></div>
        <div class="user">
          by {{c.user}} <span class="votes">{{c.votes}} votes</span>
        </div>
      </div>
      <div class="actions btn-group btn-group-vertical pull-right" ng-disabled="c.editing">
        <button class="btn btn-link" ng-click="voteUp(c)">
          <span class="icon-thumbs-up">
            Vote up
          </span>
        </button>
<!--         
        <button class="btn btn-link" ng-click="tag()">
          <span class="icon-tag">
            Tag
          </span>
        </button>
-->
        <button class="btn btn-link" ng-click="reply(resource.id, c.id)">
          <span class="icon-reply">
            Reply
          </span>
        </button>
      </div>
      <div class="comment-post">
        <div ng-bind-html="c.body"></div>
      </div>
    </div>
  </li>
  <div class="well editor" ng-show="newComment" >
    <div comment-editor></div>
  </div>
  <button class="btn btn-primary btn-large pull-right" ng-hide="newComment" ng-click="addComment()">
    <span class="icon-edit">
      Add comment
    </span>
  </button>
</ul>
