<div class="row-fluid" >
  <div class="span6">
    <h4>Edit</h4>
    <div mini-edit></div>
  </div>
  <div class="span6">
    <h4>Preview</h4>
    <div class="comment-preview">
      <div class="gravatar">
        <img ng-src="{{gravatar}}"></img>
      </div>
      <div class="body">
        <div ng-bind-html="preview" math-watch>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="btn-group pull-right">
    <button class="btn btn-default btn-large">Cancel</button>
    <button class="btn btn-primary btn-large">
      <span class="icon-envelope"> </span>Post
    </button>
  </div>
</div>
<div class="row-fluid">
  <div class="pull-right">
    <button class="btn btn-link" ng-click="showHelp=!showHelp">
      <span ng-hide="showHelp">Show</span>
      <span ng-show="showHelp">Hide</span> a quick guide to markdown
    </button>
  </div>
</div><div ng-show="showHelp" class="show-hide-animation row-fluid">
  <div class="markdown-syntax span9" >

    <button class="btn btn-default pull-right" ng-show="showHelp" ng-click="showHelp=false"><span class="icon-remove"> </span></button>

    <h2 id="a-quick-guide-to-markdown">A quick guide to markdown</h2>
    <p><i>
      Copy and paste these examples into the edit box to try them.
    </i></p>
    <h3>Simple text with line breaks</h3>
    <pre><code>
Here is some simple text
with a line break.

Leave a blank line to start a paragraph.
Spaces    are  collapsed into   one.

Add emphasis with *one*, **two**, or ***three*** asterisks.
Alternatively,
add emphasis with _one_, __two__, or ___three___ underscores.
    </code></pre>

    <h3 id="hyperlinks">Insert hyperlinks and images</h3>

    <pre><code>
[link to NRICH](http://nrich.maths.org)

![A small image](/favicon.ico)
    </code></pre>
    <h3>Include mathematics using LaTeX</h3>
    <code>LaTeX</code> maths should be bracketed by single <code>$</code> signs if it is to appear inline, or by doubled <code>$$</code> signs to appear centered and separate. The math stackexchange site has a <a href="http://meta.math.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference" target="_blank">basic tutorial and quick reference</a>.
    <pre><code>
Straight lines have equations of the form $y=ax+b$, 
but other equivalent forms are quite often very useful. 

For example, $$ \frac{y-3}{x-2} = 6 $$ will give
you a line of gradient $6$ that goes through 
the point $(2,3)$.
    </code></pre>

    <h3 id="headers">Add headers and sub-headers</h3>
    <h4 id="either">Either underline h1 and h2 headers</h4>
    <pre><code>
Header 1
========

Header 2
--------
    </code></pre>
    <h4 id="or">or add hashes up to h3.</h4>
    <pre><code>
# Header 1
## Header 2
### Header 3
    </code></pre>
    <h3 id="lists">Lists</h3>
    <h4 id="ordered-without-paragraphs-">Ordered, without paragraphs:</h4>
    <pre><code>
5.  Use any numbers you like
1.  and the list will be ordered
3.  as written but numbered from 1.
    </code></pre>
    <h4 id="unordered-with-paragraphs-">Unordered, with paragraphs:</h4>
    <pre><code>
*   A list item.

    With multiple paragraphs.

    *   And
    *   a nested list
    </code></pre>

    <h3 id="blockquotes">Blockquotes</h3>
    <pre><code>
> Email-style angle brackets
> are used for blockquotes.

>> And, they can be nested.

> #### Headers work in blockquotes
 
> * You can quote a list.
> * and add __emphasis__.
    </code></pre>
    <h3 id="code-spans">Code Spans</h3>
    <p><code>&lt;code&gt;</code> spans are delimited
    by backticks.</p>
    <p>You can include literal backticks
    like <code>`this` </code>.</p>
    <h3 id="horizontal-rules">Horizontal Rules</h3>
    <p>Three or asterisks:</p>
    <pre><code>* * *</code></pre>
    <h3 id="manual-line-breaks">Manual Line Breaks</h3>
    <p>End a line with two or more spaces:</p>
    <p>  Roses are red,<br>  Violets are blue.</p>


    <blockquote>Based on the <a target="_blank" href="https://github.com/fletcher/MultiMarkdown/blob/master/Documentation/Markdown%20Syntax.md">Markdown syntax guide</a>, by Fletcher T. Penney.</blockquote>

  </div>
</div>