<div class="md-help">
    <h2 id="a-quick-guide-to-markdown">A quick guide to LaTeX and markdown</h2>
    <p><i>
      Copy and paste these examples into the edit box to try them.
    </i></p>
    <h3>Simple text with line breaks</h3>
    <pre><code>
Here is some simple text
with a line break.

Leave a blank line to start a paragraph.
Spaces    are  collapsed into   one.

Add emphasis with *one*, **two**, or ***three*** asterisks.
or emphasise with _one_, __two__, or ___three___ underscores.

Three or more asterisks make a horizontal rule.

* * *

If you indent text with a tab of 4 spaces it will be interpreted as code.

    function add(a,b) {
      return a+b
    }
    </code></pre>

    <h3 id="hyperlinks">Insert hyperlinks and images</h3>

    <pre><code>
[link to NRICH](http://nrich.maths.org)

![A small image](/favicon.ico)
    </code></pre>
    <h3>Include mathematics using LaTeX</h3>
    <code>LaTeX</code> maths should be bracketed by single <code>$</code> signs if it is to appear inline, or by doubled <code>$$</code> signs to appear centered and separate. The math stackexchange site has a <a href="http://meta.math.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference" target="_blank">basic tutorial and quick reference</a>.
    <pre><code>
Straight lines have equations of the form $y=ax+b$, 
but other equivalent forms are quite often very useful. 

For example, $$ \frac{y-3}{x-2} = 6 $$ will give
you a line of gradient $6$ that goes through 
the point $(2,3)$.
    </code></pre>

    <h3 id="headers">Add headers and sub-headers</h3>
    <h4 id="either">Either underline h1 and h2 headers</h4>
    <pre><code>
Header 1
========

Header 2
--------
    </code></pre>
    <h4 id="or">or add hashes up to h5.</h4>
    <pre><code>
# Header 1
## Header 2
### Header 3
#### Header 4
##### Header 5
    </code></pre>
    <h3 id="lists">Lists</h3>
    <h4 id="ordered-without-paragraphs-">Ordered, without paragraphs:</h4>
    <pre><code>
5.  Use any numbers you like
1.  and the list will be ordered
3.  as written but numbered from 1.
    </code></pre>
    <h4 id="unordered-with-paragraphs-">Unordered, with paragraphs:</h4>
    <pre><code>
*   A list item.

    With multiple paragraphs.

    *   And
    *   a nested list
    </code></pre>

    <h3 id="blockquotes">Blockquotes</h3>
    <pre><code>
> Email-style angle brackets
> are used for blockquotes.

>> And, they can be nested.

> #### Headers work in blockquotes
 
> * You can quote a list.
> * and add __emphasis__.
    </code></pre>

</div>
