<div class="md-help">
  <h2 id="a-quick-guide-to-markdown">A quick guide to markdown</h2>
  <h3 id="adding-emphasis">Adding emphasis</h3>
  <pre><code>*italic*   **bold**
  _italic_   __bold__
  </code></pre>

  <h3>Include mathematics using `LaTeX`</h3>
  `LaTeX` maths should be bracketed by single `\$` signs if it is to appear inline, or by double `\$\$` signs to appear centered and separate.
  <pre><code>
  Straight lines have equations of the form $y=ax+b$, 
  but other forms are quite often useful. 

  For example $$ \frac{y-3}{x-2} = 6 $$ will give
  you a line of gradient $6$ that goes through 
  the point $(2,3)$.
  </code></pre>

  <h3 id="hyperlinks">Hyperlinks</h3>
  <p>This <a href="http://nrich.maths.org">link to NRICH</a> was made using
  <code>[link to NRICH](http://nrich.maths.org)</code>.</p>
  <h3 id="images">Images</h3>
  <p><img src="/favicon.ico" alt="A small image"> inserted using
  <code>![A small image](/favicon.ico)</code>.</p>
  <h3 id="headers">Headers</h3>
  <h4 id="either">Either</h4>
  <pre><code>Header 1
  ========

  Header 2
  --------</code></pre>
  <h4 id="or">or</h4>
  <pre><code># Header 1
  ## Header 2
  ### Header 3
  ...
  ###### Header 6</code></pre>
  <h3 id="lists">Lists</h3>
  <h4 id="ordered-without-paragraphs-">Ordered, without paragraphs:</h4>
  <pre><code>1.  Foo
  2.  Bar</code></pre>
  <h4 id="unordered-with-paragraphs-">Unordered, with paragraphs:</h4>
  <pre><code>*   A list item.

  With multiple paragraphs.

  *   Bar</code></pre>
  <h4 id="you-can-nest-lists-">You can nest lists:</h4>
  <pre><code>*   Abacus
    * answer
  *   Bubbles
    1.  bunk
    2.  bupkis
      * BELITTLER
    3. burper
  *   Cunning</code></pre>
  <h3 id="blockquotes">Blockquotes</h3>
  <pre><code>&gt; Email-style angle brackets
  &gt; are used for blockquotes.

  &gt; &gt; And, they can be nested.

  &gt; #### Headers in blockquotes
  &gt; 
  &gt; * You can quote a list.
  &gt; * Etc.</code></pre>
  <h3 id="code-spans">Code Spans</h3>
  <p><code>&lt;code&gt;</code> spans are delimited
  by backticks.</p>
  <p>You can include literal backticks
  like <code>`this` </code>.</p>
  <h3 id="horizontal-rules">Horizontal Rules</h3>
  <p>Three or asterisks:</p>
  <pre><code>* * *</code></pre>
  <h3 id="manual-line-breaks">Manual Line Breaks</h3>
  <p>End a line with two or more spaces:</p>
  <p>  Roses are red,<br>  Violets are blue.</p>
</div>
