<div class="reply-editor">
  <form class="row-fluid" name="addForm">
    <h4><span class="icon-edit"> </span>Edit Reply</h4>
    <div class="new-title">
      <textarea name="body" ng-model="reply.body" required type="text"></textarea>
      <div class="pull-right">
        <button class="btn btn-link" ng-click="showHelp=!showHelp">
          <span ng-hide="showHelp">Show</span>
          <span ng-show="showHelp">Hide</span> a quick guide to <code>LaTeX</code> mathematics and <code>markdown</code> text.
        </button>
      </div>
    </div>
  </form>
  <div class="row-fluid">
    <h4><span class="icon-eye-open"> </span>Preview Reply</h4>
    <div class="reply-preview">
      <div class="body">
        <div ng-bind-html="preview" math-watch="preview"></div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="btn-group pull-right">
      <button class="btn btn-default btn-large" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary btn-large" ng-click="post()" ng-disabled="!addForm.$valid">
        <span class="icon-envelope"> </span>Post
      </button>
    </div>
  </div>
  <div class="row-fluid">

  </div>
  <div ng-show="showHelp" class="show-hide-animation row-fluid">
    <div md-help></div>
  </div>
</div>